
    /* 1 Slide */
    
    .first-slide-container {
        display: flex;
        position: relative;
    }

    .text-block-blur {
        width: 45%;
        height: 55%;
        margin-top: 150px;
        z-index: 1;
        justify-content: start;
        position: absolute;
        backdrop-filter: blur(10px);
    }

    .text-block-blur p {
        font-size: 1rem;
        padding-left: 30%;
        padding-bottom: 10px;
        padding-top: 10px;
        max-width: 90%;
        color: black;
    }

    .image-block {
        width: 70%;
        z-index: auto;
        float: right;
        margin-left: 550px;
        height: 85%;
        position: relative;
    }

    .header-first-slide {
        text-align: center;
        padding-top: 10%;
        padding-right: 10%;
        font-size: 2.7rem;
        padding-bottom: 30px;
        font-family: Yeseva One;
        color: black;
    }

    .line-first-slide {
        border: 2px solid #CA0B03;
        width: 60%;
    }

    .red-block {
        width: 7%;
        z-index: 2;
        float: right;
        background-color: #CA0B03;
        margin-left: 550px;
        height: 55%;
        margin-top: 150px;
        margin-left: 93%;
        position: absolute;
    }

    /* 2 Slide */

    .second-slide-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        height: 720px;
    }

    .second-red-block {
        width: 45%;
        float: right;
        background-color: #CA0B03;
        height: 300px;
    }

    .second-red-block h1 {
        color: #fff;
        font-family: Yeseva One;
        font-size: 3.2rem;
        font-weight: 650;
        padding-left: 30%;
        padding-right: 10%;
        padding-top: 10%;
        text-align: right;
    }

    .second-text-block {
        font-size: 1.3rem;
        width: 50%;
        float: right;
        position: relative;
    }

    .second-text-block p {
        font-family: "Gotham Pro";
        padding: 0 0 10% 20%;
        max-width: 80%;
    }




    /* 3 Slide */

    .third-slide-container {
        display: flex;
        flex-wrap: wrap;
        height: 650px;
    }

    .third-image-block {
        width: 45%;
        float: right;
        height: 300px;
    }

    .third-image-block img {
        width: 80%;
        padding-top: 30%;
        padding-left: 10%;
    }

    .third-text-block {
        width: 55%;
        float: right;
        position: relative;
        background-color: #0272A2;
    }

    .third-slide-container h1 {
        color: #fff;
        font-family: Yeseva One;
        font-size: 3.2rem;
        font-weight: 650;
        padding-left: 15%;
        padding-right: 10%;
        padding-top: 13%;
        text-align: left;
    }

    .third-block-prop {
        display: flex;
        padding-left: 12%;
        padding-top: 5%;
        
    }

    .third-block-prop p {
        font-size: 1rem;
        color: #fff;
        padding-top: 25px;
        padding-left: 10%;
    }




    /* 4 Slide */




    .slider {
        margin: 0 18%;
        padding-bottom: 10%;
    }

    .slide img {
        width: 100%;
    }

    .image-carousel-caption {
        padding: 2% 0;

        text-align: center;
        font-size: 2rem;
    }

    .slick-dots li button::before {
        color: #00b9ed !important;
        font-size: 20px !important;
    }

    .hero {
        text-align: center;
        margin-top: -100px;
        padding-top: 100px;
    }

    .wrapper-hero {
        padding: 4% 0 20%;
    }

    /*hero*/
    .hero-title {
        margin: 0 15% 0.5%;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 3.2rem;
        color: #fff;
    }

    .subtitle {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 100;
    }

    .button-started {
        width: 300px;
        margin: 0 auto;
        margin-top: 2%;
    }

    .button-started .get-started-button {
        padding: 20px 20px;
    }

    .button-started .get-started-button,
    .button-started .get-started-button2 {
        display: block;
        width: auto;

        font-size: 1.4rem;
        text-transform: uppercase;
        color: #fff;

        background-color: #f26d6d;
        border: none;
        border-radius: 50px;
        transition: all 0.3s linear;
    }

    .button-started .get-started-button:hover,
    .button-started .get-started-button2:hover {
        background-color: rgb(64, 156, 64);
    }

    .first-slide {
        display: flex;
        align-items: stretch;
    }

    .first-slide img {
        width: 600px;
        height: 400px;
    }



    /*content*/
    .container {
        margin: 0 6%;
    }

    .content {
        margin: 6% 0;
        position: relative;
    }

    .enjoyIt-wrapper,
    .content-context-memory {
        display: flex;
        justify-content: space-between;
    }
    .content-context-memory {
        flex-direction: row-reverse;
        margin-top: -80px;
    }

    .enjoyIt-heading,
    .context-title {
        padding-top: 50px;
        flex: 0 1 50%;
    }

    .enjoyIt-heading {
        text-align: left;
    }

    .context-title {
        text-align: right;
    }

    .imgEnjoy img,
    .img-context-puzzle img {
        width: 100%;
        height: 100%;
    }

    .imgEnjoy,
    .img-context-puzzle {
        flex: 1 1 50%;
    }

    .enjoyIt-heading h2,
    .context-title h2 {
        margin-bottom: 5%;
    }

    .app-download-wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }



    .content-description {
        flex-basis: 50%;
        margin-left: 5%;
        text-align: left;
        h2{
            font-size: 2.2rem;
        }
    }

    h2 > span {
        font-weight: 800;
    }

    h2 > sup {
        font-size: 1rem;
        font-weight: 800;
    }

    .openSoftware {
        color: lightblue;
        text-decoration: underline;
        transition: 0.3s;
    }

    .openSoftware:hover {
        text-decoration: none;
        color: #4d8bdd;
    }

    .button-block {
        margin-top: 3%;
    }

    .button-group {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 80%;
        margin-top: 4px;
        position: relative;
        align-items: center;
    }

    .button-group-1 {
        margin-left: 4%;
    }

    .button-group-1 .button-install {
        background-color: #56d3f1;
    }

    .button-group-2 {
        margin-left: 2%;
    }

    .button-group-2 .button-install {
        background-color: #46b8ff;
    }

    .button-group-3 .button-install {
        background-color: #5396ef;
    }

    .button-install {
        padding: 20px 5px;
        flex: 0 1 50%;
        background-color: #56d3f1;
        border-radius: 50px;
        display: block;
        transition: all 0.2s ease-in-out;
    }

    .button-android,
    .button-chrome {
        border-right: 4px solid white;
        border-bottom: 4px solid white;
        border-top: 4px solid white;
        z-index: 2;
    }

    .button-guide,
    .button-iOS {
        position: relative;
        padding: 16px 5px;
    }

    .button-iOS {
        right: 30%;
        text-align: center;
        padding-left: 29%;
        padding-right: 1%;
    }

    .button-guide {
        font-size: 0.7rem;
        opacity: 0;
        right: 8%;
        padding-left: 30px;
    }

    .button-install:hover {
        transform: scale(1.1);
    }

    .button-group-1:hover .button-guide {
        opacity: 1;
    }

    .content-howItWorks h2 {
        text-align: center;
        margin-bottom: 2%;
    }

    .blog {
        margin: 0 0 10%;
    }

    .blog a {
        display: block;
        width: 27%;
        background-color: #45b8ff;
        color: white;
        padding: 1.5% 0;
        margin: 0 auto;
        border-radius: 50px;
        font-size: 1.4rem;
        letter-spacing: 4px;
        transition: all 0.3s;
    }

    .blog a:hover {
        background-color: #6fc7e2;
    }

    .blog h2 {
        color: #45b8ff;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1%;
    }

    .blog-button {
        background-image: url("../../assets/images/home/Decor.svg");
        background-position: bottom center;
        background-repeat: no-repeat;
        -webkit-background-size: 40%;
        background-size: 40%;
    }

    .blog-button a {
        text-transform: uppercase;
        font-weight: 800;
    }

    .extension img {
        width: 100%;
    }

    .sources-wrapper,
    .sources-block,
    .sources-block .second-part {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .sources-wrapper {
        justify-content: center;
        text-align: left;
    }

    .sources-title {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 50%;
        padding: 20px 40px 20px 50px;
        margin-top: 5%;
    }

    .sources-block {
        flex-basis: 50%;
    }

    .sources-block .first-part,
    .sources-block .second-part {
        flex-direction: column;
        justify-content: center;
        flex-basis: 50%;
    }

    .sources-paragraph {
        margin: 2%;
        padding: 8%;
        border-radius: 25px;
        background: #45b8ff;
        color: white;
    }

    .second-part .sources-paragraph {
        margin: 1%;
    }

    .sources-paragraph p {
        font-size: 1rem;
        color: white;
    }

    .button-started .get-started-button2 {
        padding: 25px 55px;
        font-size: 1.4rem;
        margin: 0 auto;
    }

    .get-started-footer {
        padding-bottom: 3%;
    }

