
    .Home {

    /* 1 Slide */
    
    .first-slide-container {
        display: flex;
        position: relative;
        height: 660px;
    }

    .text-block-blur {
        width: 45%;
        height: 55%;
        margin-top: 150px;
        z-index: 1;
        justify-content: start;
        position: absolute;
        backdrop-filter: blur(10px);
    }

    .text-block-blur p {
        font-size: 1rem;
        padding-left: 30%;
        padding-bottom: 10px;
        padding-top: 10px;
        max-width: 90%;
        color: black;
    }

    .image-block {
        width: 70%;
        z-index: auto;
        float: right;
        margin-left: 550px;
        height: 85%;
        position: relative;
    }

    .text-block h1 {
        text-align: center;
        padding-top: 10%;
        padding-right: 10%;
        font-size: 2.7rem;
        padding-bottom: 30px;
        font-size: 3.2rem;
        font-weight: 650;
        font-family: "Yeseva One";
        color: black;
    }

    .line-first-slide {
        border: 2px solid #CA0B03;
        width: 60%;
    }

    .red-block {
        width: 7%;
        z-index: 2;
        float: right;
        background-color: #CA0B03;
        margin-left: 550px;
        height: 55%;
        margin-top: 150px;
        margin-left: 93%;
        position: absolute;
    }

    /* 2 Slide */

    .second-slide-container {
        display: flex;
        flex-wrap: wrap;
        height: 650px;
    }

    .second-red-block {
        width: 45%;
        float: right;
        background-color: #CA0B03;
        height: 300px;
    }

    .second-red-block h1 {
        color: #fff;
        font-family: "Yeseva One";
        font-size: 3.2rem;
        font-weight: 650;
        padding-left: 30%;
        padding-right: 10%;
        padding-top: 13%;
        text-align: right;
    }

    .second-text-block {
        font-size: 1.3rem;
        width: 50%;
        float: right;
        position: relative;
    }

    .second-text-block p {
        padding: 3% 5% 10% 15%;
        max-width: 80%;
    }




    /* 3 Slide */

    .third-slide-container {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        height: 750px;
    }

    .third-image-block {
        width: 50%;
        float: right;
        height: 300px;
    }

    .third-image-block img {
        width: 80%;
        padding-top: 30%;
        padding-left: 10%;
    }

    .third-text-block {
        width: 50%;
        float: right;
        position: relative;
        background-color: #0272A2;
    }

    .third-slide-container h1 {
        color: #fff;
        font-family: "Yeseva One";
        font-size: 3.2rem;
        font-weight: 650;
        padding-left: 15%;
        padding-right: 10%;
        padding-top: 13%;
        text-align: left;
    }

    .third-block-prop {
        display: flex;
        padding-left: 12%;
        padding-top: 5%;
        
    }

    .third-block-prop p {
        font-size: 1rem;
        color: #fff;
        padding-top: 25px;
        padding-left: 10%;
    }




    /* 4 Slide */

    .fourth-slide-container {
        display: flex;
        flex-wrap: wrap;
        height: 650px;
    }

    .fourth-image-block {
        width: 50%;
        float: right;
        height: 300px;
    }

    .fourth-image-block img {
        width: 95%;
        padding-left: 10%;
    }

    .third-text-block {
        width: 50%;
        float: right;
        position: relative;
        background-color: #CA0B03;
    }

    .fourth-slide-container h1 {
        color: #fff;
        font-family: "Yeseva One";
        font-size: 3.2rem;
        font-weight: 650;
        padding-left: 20%;
        padding-right: 40%;
        padding-top: 12%;
        text-align: left;
    }

    .fourth-block-prop {
        display: flex;
        padding-left: 20%;
        padding-top: 8%;
        
    }

    .fourth-block-prop p {
        font-size: 1rem;
        color: #fff;
        padding-top: 25px;
        padding-left: 10%;
        padding-right: 20%;
    }



    /* 5 Slide */

    .fifth-slide-container {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        height: 650px;
    }

    .fifth-image-block {
        width: 50%;
        float: right;
        height: 300px;
    }

    .fifth-image-block img {
        width: 125%;
        padding-left: 20%;
        padding-top: 30%;
    }

    .fifth-text-block {
        width: 40%;
        float: right;
        position: relative;
    }

    .fifth-text-block h1 {
        color: #CA0B03;
        font-family: "Yeseva One";
        font-size: 3.2rem;
        font-weight: 650;
        padding-top: 18%;
        text-align: left;
    }


    

    /* 6 Slide */

    .sixth-slide-container {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        height: 500px;
    }

    .sixth-image-block {
        width: 50%;
        float: right;
    }

    .sixth-image-block img {
        width: 100%;
    }

    .sixth-text-block {
        width: 50%;
        float: right;
        position: relative;
    }

    .sixth-slide-container h1 {
        color: #CA0B03;
        font-family: "Yeseva One";
        font-size: 3.2rem;
        font-weight: 650;
        padding-left: 20%;
        padding-right: 40%;
        padding-top: 15%;
        text-align: left;
    }

    .sixth-block-prop {
        display: flex;
        padding-left: 20%;
        padding-top: 8%;
        
    }

    .sixth-block-prop p {
        font-size: 1rem;
        color: black;
        padding-top: 25px;
        padding-right: 35%;
    }

    

    /* Seventh block */


    .seventh-slide-container {
        margin-top: 25%;
        display: flex;
        flex-wrap: wrap;
        height: 600px;
        background-color: #0272A2;
    }


    .seventh-slide-card {
        min-width: 150px;
        min-height: 150px;
        background-color: #0272A2;
        padding: 4% 7%;
    }

    .seventh-slide-card .card-body {
        margin-top: 15px;
        color: #fff;
        width: 100%;
        text-align: center;
    }

    .seventh-slide-card .card-img-top {
        width: 80px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .seventh-slide-card .card-title {
        font-weight: bold;
        font-size: 1rem;
    }

    .seventh-slide-card .card-text {
        font-size: 0.9rem;
        color: #fff;
        font-weight: 100;
    }

    

}


