.Navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 50;
}

.sticky-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.fixed-bar {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 4px rgba(2, 0, 0, 0.33);
    animation: showMenu1 0.3s;
}

.fixed-bar .logo-light {
    color: #215599;
}

.fixed-bar a {
    color: #215599;
}

.fixed-bar select {
    color: #215599;
    background: url("../../assets/images/navbar/Triangle1.svg") right center
        no-repeat;
    background-size: 10%;
}

.no-fixed-bar {
    animation: showMenu2 0.3s;
    display: flex;
}

@keyframes showMenu1 {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: white;
    }
}
@keyframes showMenu2 {
    0% {
        background-color: white;
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

/*logo*/
.lang,
.menu-wrapper {
    width: 20%;
    max-height: 80px;
}

.lang {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: -0.4rem;
    padding-right: 20px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    background: url("../../assets/images/navbar/Triangle1.1.svg") right center
        no-repeat;
    background-size: 10%;
    color: white;
    font-size: 1.4rem;
    text-decoration: underline;
    padding: 10px;
    padding-right: 15px;
    cursor: pointer;
    outline: none;
    text-align-last: right;
    &::after{
        content:'';
        display: block;
        height: 100%;
        width: 100%;
        background: red;
    }
}

.lang option {
    color: #215599;
}

.logo {
    height: 100%;
}

.logo-light {
    font-size: 1.8rem;
    font-family: "Kodchasan";
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    margin-right: 20px;
}


@media (max-width: 610px) {
    .logo {
        margin: 0 0 0 5px;
        a{
            padding: 0 5px;
        }
    }

    .logo-light {
        font-size: 1.4rem;
        right: 5%;
        margin-left: auto;
    }

    .lang {
        padding-left: 20px;
    }

    .lang {
        width: auto;
    }

    select{
        font-size: 1rem;
    }
}
